@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.788);
  }
*{
    margin: 0;
    padding: 0;
}
.pera-pri{
    line-height: 25pt;
}
.buttonpage{
    font-family: "Azeret Mono", monospace;
    background-color: green;
    font-size: 80px;
    padding: 300px 0;
    text-align: center;
    color: white;
}
/* ^^^ up here rest universal styles ^^^ */

/* nav bar style starts */
.div-1{
    width:60%;
    max-width: 1920;
    min-width: 350px;
    margin: 50px auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-1{
    padding: 15px 25px;
    border: solid 2px #0d1321c4;
    background-color: white;
    color: #0d1321c4;
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
    border-radius: 8px;
}
/* nav bar Style Ends */

/* head section styles start */
.section-2{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.div-2{
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.head-main{
    font-size: 48px;
    color: #0D1321;
    font-weight: 800;
}
.btn-2{
    padding: 20px 30px;
    border: none;
    background-color: #0D1321;
    color: white;
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
    border-radius: 8px;
}
/* head section styles ends */

/* Why Web Development?? style starts */
.head-sec{
    font-size: 32px;
    color: rgb(13, 19, 33);
    font-weight: 800;
}
.sec-wwd{
    padding: 75px 0;
}
.div-wwd{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60%;
    max-width: 1920;
    min-width: 320px;
    margin: 0 auto;
    background-color: #FAFAFB;
    padding: 95px 80px;
    text-align: center;
}
.card-wwd{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 0, 0, 0) );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.card-wwd-2{
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 0, 0, 0) );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.text-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
    padding: 20px;
    gap: 25px;
}
.img-div{
    width: 35%;
    padding: 20px;
    max-width: 100%;
    height: auto;
}
.btn-3{
    padding: 8px 20px;
    border: solid 2px #0d1321c4;
    background-color: white;
    color: #0d1321c4;
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
}
/* Why Web Development?? style ends */

/* My Inspiration style start */
.ytvideo{
    border-radius: 16px;
}
.yt-bdr{
    padding: 32px;
    border-radius: 16px;
    border: #0d13212d solid 1px;
}
.div-mi{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}
/* My Inspiration style ends */

/* my current target style start */
.card-mct{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.card-html{
    width: 30%;
    background-color: #ff4b1e0a;
    border-radius: 16px;
    padding: 35px;
    text-align: left;
    margin-right: 10px
}
.card-css{
    width: 30%;
    background-color: #004CE80a;
    border-radius: 16px;
    padding: 35px;
    text-align: left;
    margin-right: 10px
}
.card-js{
    width: 30%;
    background-color: #f58f0a0a;
    border-radius: 16px;
    padding: 35px;
    text-align: left;
    margin-right: 10px
}
a{
    color: #0d1321da;
}
/* my current target style ends */

/* my next target style start */

.card-mnt{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;

}
.card-rjs, .card-njs, .card-mdb {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 85%;
    border: #0D1321 solid 1px;
    border-radius: 16px;
    padding: 35px;
    text-align: left;
    margin: 0 auto;
}
.img-rnm{
    width: 100px;
}
/* my next target style end */

/* I need support style start */
.div-ins{
    border-radius: 16px;
    padding: 100px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: rgba(255, 255, 255, 0.925);
    background-image: linear-gradient(#0d1321a8,#0d1321a8), url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.input-ins{
    border: none;
    color: #0d132152;
    font-family: "Azeret Mono", monospace;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px 20px;
    width: 300px;
}
.btn-4{
    border: 1px solid rgba(0, 0, 0, 0.425);
    background-color: white;
    color: #0D1321;
    padding: 8px 20px;
    border-radius: 5px;
    font-family: "Azeret Mono", monospace;
    font-weight: 500;
}
/* I need support style ends */

/* footer style start */
.section-8{
    background-color: #F7F8F8;
}
.footer-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.icon-div{
    display: flex;
    gap: 24px;
}
/* footer style ends */
